<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuzw.demo.dao.mapper.BidCongerenceConfereeMapper">
  <resultMap id="BaseResultMap" type="com.xuzw.demo.dao.entity.BidCongerenceConferee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="conference_id" jdbcType="BIGINT" property="conferenceId" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="group_director" jdbcType="VARCHAR" property="groupDirector" />
    <result column="leader_user_id" jdbcType="BIGINT" property="leaderUserId" />
    <result column="secretary_user_id" jdbcType="BIGINT" property="secretaryUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, conference_id, company_code, company_name, group_director, leader_user_id, secretary_user_id, 
    create_time, create_user_id, update_time, update_user_id, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bid_congerence_conferee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bid_congerence_conferee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xuzw.demo.dao.entity.BidCongerenceConferee">
    insert into bid_congerence_conferee (id, conference_id, company_code, 
      company_name, group_director, leader_user_id, 
      secretary_user_id, create_time, create_user_id, 
      update_time, update_user_id, is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{conferenceId,jdbcType=BIGINT}, #{companyCode,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{groupDirector,jdbcType=VARCHAR}, #{leaderUserId,jdbcType=BIGINT}, 
      #{secretaryUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, #{isDeleted,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xuzw.demo.dao.entity.BidCongerenceConferee">
    insert into bid_congerence_conferee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="conferenceId != null">
        conference_id,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="groupDirector != null">
        group_director,
      </if>
      <if test="leaderUserId != null">
        leader_user_id,
      </if>
      <if test="secretaryUserId != null">
        secretary_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="conferenceId != null">
        #{conferenceId,jdbcType=BIGINT},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="groupDirector != null">
        #{groupDirector,jdbcType=VARCHAR},
      </if>
      <if test="leaderUserId != null">
        #{leaderUserId,jdbcType=BIGINT},
      </if>
      <if test="secretaryUserId != null">
        #{secretaryUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuzw.demo.dao.entity.BidCongerenceConferee">
    update bid_congerence_conferee
    <set>
      <if test="conferenceId != null">
        conference_id = #{conferenceId,jdbcType=BIGINT},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="groupDirector != null">
        group_director = #{groupDirector,jdbcType=VARCHAR},
      </if>
      <if test="leaderUserId != null">
        leader_user_id = #{leaderUserId,jdbcType=BIGINT},
      </if>
      <if test="secretaryUserId != null">
        secretary_user_id = #{secretaryUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuzw.demo.dao.entity.BidCongerenceConferee">
    update bid_congerence_conferee
    set conference_id = #{conferenceId,jdbcType=BIGINT},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      group_director = #{groupDirector,jdbcType=VARCHAR},
      leader_user_id = #{leaderUserId,jdbcType=BIGINT},
      secretary_user_id = #{secretaryUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>